body{
  background-color: black;
  color: white;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing-image {
  display: none;
}

.home-page .landing-image {
  display: block;
}
